<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <title>Unit Converter</title>
  </head>
  <body>
    <h1>Unit Converter</h1>
    <nav>
        <a href="/length">Length</a>
        <a href="/weight">Weight</a>
        <a href="/temperature">Temperature</a>
    </nav>
  </body>
</html>
